body {
    font-family: 'Comfortaa', sans-serif;
    color: #333;
    background-color: #ffe4a6;
}
.container {
    background-color: white;
    min-height: 100vh;
}

a {
    color: #3b8896;
    cursor: pointer;
}
h1,
h2 {
    font-weight: bolder;
}

#bcca-text {
    font-family: 'Lobster', cursive;
    font-size: 2.2em;
}

.title-text {
    font-family: 'Lobster', cursive;
    font-size: 200%;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px 0px;
    text-decoration: none;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.nav-li-special a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li-special a:hover:not(.active) {
    background-color: #111;
}

.active {
    /* background: linear-gradient(#ffd880, #ffd880, #ffd880, #111); */
    color: #111;
    font-weight: bold;
    background-color: #ffd880;
}

.fa-link-element {
    color: #333;
}

a:hover {
    color: slategray;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.fa-xl {
    font-size: 6em;
}

#hover-text {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#icon-links {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

p {
    font-size: 1.5em;
}

.proj-description {
    color: #333;
}

.portfolio {
    width: 500px;
}

ul {
    list-style-type: none;
}

.bullets {
    list-style-type: square;
    font-size: 2vh;
}

.panel-body-yellow {
    background-color: #ffe4a6;
}

.panel-body-slategrey {
    background-color: rgb(169, 171, 173);
    margin-top: 5%;
}

li h3 a {
    color: black;
    font-weight: bolder;
}

.project-images {
    height: 15em;
    width: 25em;
}

.text-float-left {
    float: left;
}
#javascript-photos {
    padding-top: 3%;
    padding-bottom: 3%;
}
