body {
    font-family: 'Lobster', cursive;
    background-color: #010133;
}

#welcome-screen {
    /* background-image: url('http://bahb.net/downloads/nighttime1024x768.jpg'); */
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
}

#welcome-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

p,
ul,
li {
    color: white;
    font-size: 20;
    font-family: 'Comfortaa', sans-serif;
    text-align: justify;
}

.desc-text {
    font-family: 'Lobster', cursive;
    color: #d46a6a;
    text-align: center;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Cinzel', serif;
    color: white;
}

.table-text {
    color: white;
    font-size: 20;
}

.row {
    margin: 0;
}

.container {
    background-color: #09096e;
    width: 86%;
    margin: 4% 7%;
    padding: 12px;
    border-radius: 12px;
}

img.portfolio {
    max-width: 100%;
}

.panel-heading {
    font-size: 2.2em;
}

.panelbod {
    color: black;
    font-family: 'Comfortaa', sans-serif;
}

a {
    color: #d46a6a;
}

#welcome-text {
    padding-top: 20%;
    font-size: 1000%;
    color: #09096e;
    font-family: 'Lobster', cursive;
    text-align: center;
    display: block;
}

#current-position {
    font-size: 500%;
    color: #09096e;
}

hr {
    border: none;
    height: 5px;
    color: #d46a6a;
    background-color: #d46a6a;
}

.btn {
    font-size: 25px;
    color: #09096e;
    line-height: 1.5;
    border-radius: 30px;
    border: 5px solid;
    background: none;
    padding: 12px 22px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.port-links {
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

.contact-info {
    font-size: 18;
    text-align: left;
}
